// Social link

.soc {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;

	&__item {
		margin: 5px;
	}

	&__link {
		font-size: 30px;
		color: #fff;
		text-decoration: none;
		display: inline-block;

		&:hover {
			color: #fff;
			transform: scale(1.2);
		}
	}
}
